body {
    background-color: aqua;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    height: 6rem;
    width: 6rem;
    background-color: aqua;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid white;
}

p {
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:nth-child(1),
button:nth-child(4),
button:nth-child(7) {
    border-left: none;
}

button:nth-child(1),
button:nth-child(2),
button:nth-child(3) {
    border-top: none;
}

button:nth-child(3),
button:nth-child(6),
button:nth-child(9) {
    border-right: none;
}

button:nth-child(7),
button:nth-child(8),
button:nth-child(9) {
    border-bottom: none;
}

button {
    font-size: 2.5rem;
}

button > * {
    transition: 250 liner;
}

button > *:active {
    scale: 1.5;
}

.reset {
    background-color: blueviolet;
    border: none;
    width: 15rem;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1rem;
    display: none;
}